
:root {
   --orange: #E04D01;
   --blueDark: #2A2550;
   --darkerBlue: #251D3A; 
}


* {
   margin: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Roboto', sans-serif;
}

/*PARTE DEL HEADER*/
header {
   background-color: var(--blueDark);
}

.nav_header {
   display: flex;
   justify-content: space-between;
   padding: 8px 16px;
}

.imagen_mate {
   height: 40px;
}

.lista_header{
   text-decoration: none;
   color:var(--orange);
   display: flex;
   text-emphasis: none;
   gap: 50px;
   list-style-type: none;
}

li {
   text-decoration: none;
   color: var(--orange);
}

@media(min-width:1024px){
   .nav-bar{
       display: none;
       
   }
   .menu{
       margin-left: 0;
       background-color: #251D3A;
       display: flex;
       justify-content: space-evenly;
       transition: all 0.3s;
   }
   .lista-menu{
       display: flex;
   }
   #abrirMenu{
       margin-left: 0;
       background-color: #251D3A;
       display: flex;
       justify-content: space-evenly;
       transition: all 0.3s;
   }
}
/*-----------------------------------------*/


.sobre_nosotros{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: stretch;

}

.imagen_principal {
   width: 30vw;
}


/* seccion "FOR-MATE",al lado la imagen del chaboncito en la pc  */
#sobre_nosotros{
   display:flex;
   flex-direction: row;
   justify-content: center;
   background-color: var(--darkerBlue);
}

.primer_titulo, .cap_recursos{
   color: var(--orange);
}

/* Footer css */

footer {
   padding: 5px;
   background-color: var(--orange);
   text-align: center;
}
