:root {
   --orange: #E04D01;
   --blue: #2A2550;
   --darkerBlue: #251D3A;
   --white: #fff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: var(--darkerBlue);
   color: var(--white);
}

/*PARTE DEL HEADER*/
.nav-bar {
   background-color: var(--blue);
   padding: 20px;
   display: block;
   color: white;
   cursor: pointer;
   font-size: 2em;
   width: 100%;
}

.titulo-formate{
   padding: 2vw;
   font-size: 35px;
   color: white;
}
.titulo-formate a{
   list-style: none;
   color: var(--orange);
   font-family: bold;
   text-decoration: none;
}
a:hover{
   color: var(--white);
}

.lista-menu{
   list-style: none;
   margin: 0;
   padding: 0;
}

.menu{
   width: 100%;
   margin-left: -100%;
}

.lista-item{
   color: var(--orange);
   padding: 30px;
   text-decoration: none;
   display: block;
   font-size: 1.5em;

}

@media(min-width:1024px){
   .nav-bar{
       display: hidden;
   }
   .menu{
       margin-left: 0;
       background-color: #251D3A;
       display: flex;
       justify-content: space-evenly;
       transition: all 0.3s;
   }
   .lista-menu{
       display: flex;
   }
   #abrirMenu{
       margin-left: 0;
       background-color: #251D3A;
       display: flex;
       justify-content: space-evenly;
       transition: all 0.3s;
   }
}
/*-----------------------------------------*/


.sobre_nosotros{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: stretch;

}

.imagen_principal {
   width: 30vw;
}


/* seccion "FOR-MATE",al lado la imagen del chaboncito en la pc  */
#sobre_nosotros{
   display:flex;
   flex-direction: row;
   justify-content: center;
   background-color: #251D3A;
}

.primer_titulo, .cap_recursos{
   color: var(--orange);
}

/* Recursos css */

.subTitle {
   color: var(--orange);
}





/* Footer css */

footer {
   padding: 8px;
   background-color: var(--orange);
   text-align: center;
   color: var(--white);
}

footer p {
   margin: 0;
}