* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

/*PARTE DEL HEADER*/
header {
    background-color: #2a2550;
}

.nav_header {
    display: flex;
}

.imagen_mate {
    width: 4vw;
}

.lista_header {
    text-decoration: none;
    color: #e04d01;
    width: 1vw;
}

.lista_header {
    display: flex;
    flex-direction: row;
    text-emphasis: none;
    gap: 50px;
    list-style-type: none;
}

li {
    text-decoration: none;
    color: #e04d01;
}

/*-----------------------------------------*/

/* .sobre_nosotros{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: stretch;
} */

.imagen_principal {
    width: 30vw;
}

.primer_titulo,
.cap_recursos {
    color: #e04d01;
}

/* Footer css */

footer {
    padding: 5px;
    width: 100vw;
    height: 5vw;
    background-color: #e04d01;
    text-align: center;
}
.footer_derechos {
    padding: 5px;
}

/* DANIEL POSTA : Section id="sobre_nosotros"  */
/* main > section = id="sore nosotros"   */
#sobre_nosotros {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #251d3a;
    color: white;
}
.imagen_principal {
    height: 20vmax;
    width: 25vmax;
}
/* ---------------------------------------------------- */
